<header class="site-header">
    <nav class="nav-container">
        <a href="index.html" class="nav-brand">
            <svg height="24" width="24" viewBox="0 0 16 16" fill="currentColor">
                <path d="M8 0c4.411 0 8 3.589 8 8s-3.589 8-8 8-8-3.589-8-8 3.589-8 8-8zm0 14c3.311 0 6-2.689 6-6s-2.689-6-6-6-6 2.689-6 6 2.689 6 6 6z"/>
                <path d="M9.5 7.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1h3z"/>
            </svg>
            solidSpoon
        </a>
        <div class="nav-links">
            <a href="index.html" class="nav-link">首页</a>
            <a href="#" class="nav-link">关于</a>
            <a href="#" class="nav-link">归档</a>
        </div>
    </nav>
</header> 